<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapping Olympic_Data</title> -->
 
    <!------------------------------------------------------------------------------------ Leaflet CSS ------------------------------------------------------------------------------------->
<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>    -->
<!------------------------------------------------------------------------------------- D3 JavaScript -------------------------------------------------------------------------------------->
<!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
<!--------------------------------------------------------------------------------------- Our CSS --------------------------------------------------------------------------------------------->
<!-- <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head> -->
<!-------------------------------------------------------------------------------------- HTML BODY ---------------------------------------------------------------------------------------->
<!-- <body> -->

    <!-- <div class="topnav home">
      <ul>
          <li><a class="active" href="homepage.html">Home</a></li> -->
          <!-- <li><a class="active" href="https://public.tableau.com/app/profile/eric.anthony3731/viz/2016SummerMedalPredictions/2016SummerMedalPredictions?publish=yes">Medal Map</a></li> -->
          <!-- IMBEDDING THE TABLEAU MAP -->
          <!-- <li><a class="active" href="https://github.com/olympics2022/olympic_medal_analysis">GitHub</a></li>
      </ul> -->
  <!-- </div> -->
    <!------------------------------------------------------------------------------ The div that holds our map -------------------------------------------------------------------------------->
    <!-- <div id="mapid"></div>
    <iframe  src="https://public.tableau.com/app/profile/cherrelle8612/viz/OlympicAnalysis_16468504143340/MedalMap?publish=yes" width="1000" height="600">
    </iframe> -->
  <!-------------------------------------------------------------------------------------- Leaflet JavaScript ---------------------------------------------------------------------------------->
<!-- <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>   -->
<!----------------------------------------------------------------------------------------------------- API key ------------------------------------------------------------------------------>
<!-- <script type="text/javascript" src="static/js/config.js"></script> -->

<!-- </body>  -->
<!-- </html> -->